/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
:root {
    --base: #2695f9;
    --black: #000;
    --dark-gray: #606060;
    --green: #1EAA8C;
    --green-inactive: rgba(135,205,190,1);
    --light-gray: #F0F0F0;
    --red: #FF465A;
    --white: #fff;
    --yellow: #FFE15A;
    --filter-green: invert(44%) sepia(32%) saturate(5382%) hue-rotate(141deg) brightness(104%) contrast(76%);
    --filter-white: brightness(0) invert(1);
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.input-container {
    margin: 0 auto;
    max-width: 560px;
    flex: 1;
    position: relative;
    transition: 300ms ease all;
    margin-right: 20px;
    border: 2px solid var(--green);
    border-radius: 15px;
    display: flex;
    align-items: center;
}

.input-container__icon {
    margin-left: 12px;
    margin-right: 12px;
}

@media (max-width: 640px) {
    .input-container__icon {
        width: 24px;
    }

    .input-container__icon_right {
        width: 24px;
        right: -30px;
    }
}

.input-container__icon_right {
    position: absolute;
    right: -80px;
    top: 50%;
    transform: translateY(-50%);
    width: 70px;
}


.input-container--header {
    margin: 0;
    max-width: 370px;
    width: 100%;
}

.input-container--header.filled {
    max-width: 594px
}

@media (max-width: 992px) {
    .input-container--header {
        margin-left: auto;
        margin-right: auto;
        margin-top: 35px;
        max-width: 270px;
    }
}

.input-container--header .label {
    text-transform: none;
    font-weight: 500;
}

@media (max-width: 992px) {
    .input-container--header .label {
        font-size: 22px
    }
}

.input-container--header .input:focus + .label,
.input-container--header .input.filled + .label {
    transform: translate(3px, -37px);
}

@media (max-width: 992px) {
    .input-container--header .input:focus + .label,
    .input-container--header .input.filled + .label {
        transform: translate(3px, -29px);
    }
}

.input-container--header .input {
    height: 85px;
    margin: 0;
}

@media (max-width: 992px) {
    .input-container--header .input {
        height: 60px;
        margin: 0;
    }
}

@media (max-width: 992px) {
    .input-container--header .input-container__icon {
        width: 36px;
    }
}


.label {
    color: var(--green);
    font-size: 24px;
    left: 28px;
    pointer-events: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transform-origin: top left;
    transition: 300ms ease all;
}


.input {
    color: var(--black);
    display: block;
    font-size: 24px;
    font-weight: 500;
    height: 80px;
    margin-left: 12px;
    width: 100px;
    flex: 1;
    text-transform: uppercase;
    border: none;
}

.btn-primary {
    background-color: var(--base);
    border-color: var(--base);
}

.btn-primary:hover {
    background-color: var(--base);
    border-color: var(--base);
}

.btn-primary:active, .btn-primary:active:hover {
    background-color: var(--base);
    border-color: var(--base);
}

@media (max-width: 640px) {
    .label {
        font-size: 14px;
    }

    .input {
        font-size: 14px;
    }
}

.input:focus-visible {
    border: none;
    outline: none;
}

input.input::placeholder {
    opacity: 1;
    color: var(--green);
}

input.input:-ms-input-placeholder {
    color: var(--green);
}

input.input::-ms-input-placeholder {
    color: var(--green);
}

@media (max-width: 640px) {
    .input {
        height: 50px;
    }
}

.webcam-container {
    position: relative;
    flex: 1;
}

@media screen and (min-width: 768px) {
    .webcam-container {
        background-attachment: fixed;
    }
}


.app-panel {
    height: 100%;
    width: 100%;
    text-align: center;
    background-color: black;
    display: flex;
    position: relative;
    justify-content: center;
}

#webcam {
    display: block;
    z-index: 999;
    pointer-events: none;
    margin: auto;

}

.webcam-overlay {
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(../images/camera_mask-1.png);
    background-size: cover;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.result-overlay {
    background-color: rgba(0,0,0,0.16);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.md-modal {
    margin: auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    z-index: 2000;
    visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}

.md-show {
    visibility: visible;
}

.md-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    visibility: hidden;
    top: 0;
    left: 0;
    z-index: 1000;
    opacity: 0;
    background: rgba(#e4f0e3, 0.8);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.md-show ~ .md-overlay {
    opacity: 1;
    visibility: visible;
}

.md-effect-12 .md-content {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.md-show.md-effect-12 ~ .md-overlay {
    background-color: #e4f0e3;
}

.md-effect-12 .md-content h3,
.md-effect-12 .md-content {
    /* background: transparent; */
}

.md-show.md-effect-12 .md-content {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}


.cameraControls {
    margin-top: auto;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    z-index: 99999;
    background: transparent;
    padding: 10px;
}


.material-icons {
    width: 100px;
    font-size: 50px !important;
    color: white;
    width: 80px;
    height: 80px;
    background-color: black;
    border-radius: 50%;
    padding-top: 15px;
    margin: 0 10px;
}

.flash {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 999999;
}

#canvas {
    background-color: transparent;
    position: absolute;
    width: auto;
    height: 100vh;
    z-index: 9999;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 420px) {
    .form-control.webcam-start {
        width: 300px;
    }
}



@media screen and (min-width: 420px) and (max-width: 767px) {
    .form-control.webcam-on {
        top: 17vh;
        left: 0;
    }
}

@media screen and (min-width: 1024px) {
    .form-control.webcam-on {
        top: 16vh;
        left: 8vw;
    }
}


.overlay-container {
    position: absolute;
    /* bottom: 0px; */
    width: 100%;
    z-index: 100000;
    background: transparent;
    /* padding: 10px; */
    opacity: 0.7;
    height: 100%;
    /* right: 0; */
    left: 0;
    top: 0px;
}

.slidecontainer {
    width: 100%;
    padding: 20px;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;

}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
}

.fill-default {
    fill: rgba(255, 255, 255, 0.16);
}

.fill-base {
    fill: var(--base);
}

.stroke-base {
    stroke: var(--base);
}

.zoom-options-container {
    padding: 4px;
    border-radius: 40px;
    background-color: rgba(255, 255, 255, 0.16);
    margin-top: 32px;
    display: flex; 
    align-items: center;
}

.zoom-option {
    height: 30px;
}

.d-flex {
    display: flex;
}

.d-none {
    display: none;
}

@keyframes loading-1 {
    0% { opacity: 1; }
    12.5% { opacity: 0.9; }
    25% { opacity: 0.8; }
    37.5% { opacity: 0.7; }
    50% { opacity: 0.6; }
    62.5% { opacity: 0.5; }
    75% { opacity: 0.4; }
    87.5% { opacity: 0.3; }
    100% { opacity: 1; }
}

@keyframes loading-2 {
    0% { opacity: 0.9; }
    12.5% { opacity: 0.8; }
    25% { opacity: 0.7; }
    37.5% { opacity: 0.6; }
    50% { opacity: 0.5; }
    62.5% { opacity: 0.4; }
    75% { opacity: 0.3; }
    87.5% { opacity: 1; }
    100% { opacity: 0.9; }
}

@keyframes loading-3 {
    0% { opacity: 0.8; }
    12.5% { opacity: 0.7; }
    25% { opacity: 0.6; }
    37.5% { opacity: 0.5; }
    50% { opacity: 0.4; }
    62.5% { opacity: 0.3; }
    75% { opacity: 1; }
    87.5% { opacity: 0.9; }
    100% { opacity: 0.8; }
}

@keyframes loading-4 {
    0% { opacity: 0.7; }
    12.5% { opacity: 0.6; }
    25% { opacity: 0.5; }
    37.5% { opacity: 0.4; }
    50% { opacity: 0.3; }
    62.5% { opacity: 1; }
    75% { opacity: 0.9; }
    87.5% { opacity: 0.8; }
    100% { opacity: 0.7; }
}

@keyframes loading-5 {
    0% { opacity: 0.6; }
    12.5% { opacity: 0.5; }
    25% { opacity: 0.4; }
    37.5% { opacity: 0.3; }
    50% { opacity: 1; }
    62.5% { opacity: 0.9; }
    75% { opacity: 0.8; }
    87.5% { opacity: 0.7; }
    100% { opacity: 0.6; }
}

@keyframes loading-6 {
    0% { opacity: 0.5; }
    12.5% { opacity: 0.4; }
    25% { opacity: 0.3; }
    37.5% { opacity: 1; }
    50% { opacity: 0.9; }
    62.5% { opacity: 0.8; }
    75% { opacity: 0.7; }
    87.5% { opacity: 0.6; }
    100% { opacity: 0.5; }
}

@keyframes loading-7 {
    0% { opacity: 0.4; }
    12.5% { opacity: 0.3; }
    25% { opacity: 1; }
    37.5% { opacity: 0.9; }
    50% { opacity: 0.8; }
    62.5% { opacity: 0.7; }
    75% { opacity: 0.6; }
    87.5% { opacity: 0.5; }
    100% { opacity: 0.4; }
}

@keyframes loading-8 {
    0% { opacity: 0.3; }
    12.5% { opacity: 1; }
    25% { opacity: 0.9; }
    37.5% { opacity: 0.8; }
    50% { opacity: 0.7; }
    62.5% { opacity: 0.6; }
    75% { opacity: 0.5; }
    87.5% { opacity: 0.4; }
    100% { opacity: 0.3; }
}